
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>土地详情</title>
    <link href="http://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style-starter.css">
  </head>
  <body>

<section class="w3l-bootstrap-header">
  <nav class="navbar navbar-expand-lg navbar-light py-lg-2 py-2">
    <div class="container">	 
      <a class="navbar-brand" href="index.html">开 心 农 场</a>
	  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form action="search-results.html" class="form-inline position-relative my-2 my-lg-0">
          <input class="form-control search" type="search" placeholder="搜索" aria-label="Search" required="">
          <button class="btn btn-search position-absolute" type="submit"><span class="fa fa-search" aria-hidden="true"></span></button>
        </form>
      </div>
    </div>
  </nav>
</section>

<section class="w3l-contact-breadcrum">
  <div class="breadcrum-bg py-sm-5 py-4">
    <div class="container py-lg-3">
      <h2>土 地 详 情</h2>
      <p><a href="index.html">个人中心</a> &nbsp; / &nbsp; <a href="services.html">订单</a></p>
    </div>
  </div>
</section>

<section class="w3l-contacts-12" id="contact">
    <div class="contact-top pt-5">
        <div class="container py-md-3">
            
            <div class="row cont-main-top">
               
                <div class="contact col-lg-4">
                    <div class="cont-subs">
                        <div class="cont-add">                            
                           <div class="cont-add-rgt">
							   <ul class="navbar-nav mx-auto">
								  <li class="nav-item">
									<p class="contact-text-sub"><strong>土地编号：</strong>1</p>									
								  </li>
								  <li class="nav-item">
									<p class="contact-text-sub"><strong>土地大小：</strong>10亩</p>
								  </li>
								</ul>
							</div>
						</div>					
				
                        <div class="cont-add add-2">                            
                           <div class="cont-add-rgt">
								<ul class="navbar-nav mx-auto">
								  <li class="nav-item">
									<p class="contact-text-sub"><strong>有效期至：</strong>2020-07-01</p>
								  </li>
								  <li class="nav-item">
									<p class="contact-text-sub"><strong>出租价格：</strong>600</p>
								  </li>
								</ul>
							</div>
						</div>
					
                        <div class="cont-add">                           
                            <div class="cont-add-rgt">
                                 <ul class="navbar-nav mx-auto">
								  <li class="nav-item">
									<p class="contact-text-sub"><strong>地点：</strong>兰天公寓</p>
								  </li>
								  <li class="nav-item">
									<p class="contact-text-sub"><strong>土地介绍：</strong>一等一的上好黑土地，谁买谁知道</p>
								  </li>
								</ul>
                            </div>
                        </div>
						
                    </div>
                </div>
				
                 <div class="contacts12-main col-lg-8 mt-lg-0 mt-5">
                   
                    <form action="https://sendmail.w3layouts.com/submitForm" method="post" class="main-input">
                        <div class="top-inputs d-grid">
                            <input type="text" placeholder="土地编号" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" name="ID" id="ID" required="">			
                        </div>
						<div class="top-inputs d-grid">
							<input type="text" placeholder="土地大小：" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" name="Date" id="Date" required="">
							<input type="text" placeholder="出租价格：" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" name="Price" id="Price" required="">
						</div>
                        <div class="top-inputs d-grid">
							<input type="text" placeholder="地点" name="Address" id="Address" required="">
							<input type="text" placeholder="有效期至：" name="Date" id="Date" required="">
						</div>
						<textarea placeholder="土地介绍：" name="land" id="land" required=""></textarea>
                        <div class="text-right">
                            <button type="submit" class="btn btn-theme2">修改</button>
							<button type="submit" class="btn btn-theme2">添加</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
	
</section>
	<script src="assets/js/jquery-3.3.1.min.js"></script>
</section>

</body>

</html>


