
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>订单</title>
	
    <link href="http://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style-starter.css">
  </head>
  <body>

<section class="w3l-top-menu-1">
	<div class="top-hd">
		<div class="container">
	<header class="row top-menu-top">
		<div class="accounts col-md-9 col-6"></div>		
		<div class="social-top col-md-3 col-6">
			<a href="person.html" class="btn btn-secondary btn-theme4">个人信息</a>
		</div>
	</header>
</div>
</div>
</section>

<section class="w3l-bootstrap-header">
  <nav class="navbar navbar-expand-lg navbar-light py-lg-2 py-2">
    <div class="container">
      <a class="navbar-brand" href="index.html">开 心 农 场</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">个人中心</a>
          </li>
		    <li class="nav-item">
            <a class="nav-link" href="services.html">订单</a>
          </li>
        </ul>
        <form action="search-results.html" class="form-inline position-relative my-2 my-lg-0">
          <input class="form-control search" type="search" placeholder="搜索订单" aria-label="Search" required="">
          <button class="btn btn-search position-absolute" type="submit"><span class="fa fa-search" aria-hidden="true"></span></button>
        </form>
      </div>
    </div>
  </nav>
</section>

<section class="w3l-service-breadcrum">
  <div class="breadcrum-bg py-sm-5 py-4">
    <div class="container py-lg-3">
      <h2>订 单 选 择</h2>
      <p><a href="index.html">个人中心</a> &nbsp; / &nbsp; 订单</p>
    </div>
  </div>
</section>
<section class="w3l-features-8">
       
           <div class="features py-5" id="services">
			<div class="container py-md-3">				
					
			   <div class="fea-gd-vv text-center row">
				   	
					<div class="float-top col-lg-4 col-md-6">	
							<a href="order.html"><img src="assets/images/g2.jpg" class="img-responsive" alt=""></a>
							<div class="float-lt feature-gd">	
									<h3><a href="order.html">菜园灭虫</a> </h3>
										<p> 提供灭虫剂、喷瓶，需自行稀释灭虫剂，需保证稀释比例有依据，防止伤害蔬菜。 </p>
									</div>
					</div>
					<div class="float-top col-lg-4 col-md-6 mt-md-0 mt-5">	
							<a href="order.html"><img src="assets/images/g3.jpg" class="img-responsive" alt=""></a>
							<div class="float-lt feature-gd">	
									<h3><a href="order.html">蔬菜杀虫</a> </h3>
									<p> 提供灭虫剂，需自备喷雾器 </p>
									</div>
					</div>
						<div class="float-top col-lg-4 col-md-6 mt-lg-0 mt-5">	
								<a href="order.html"><img src="assets/images/g8.jpg" class="img-responsive" alt=""></a>
								<div class="float-lt feature-gd">	
										<h3><a href="order.html">菜园灭虫</a> </h3>
										<p> 提供灭虫剂，需自带喷瓶。 </p>
									</div>
						</div>
						<div class="float-top col-lg-4 col-md-6 mt-5">	
							<a href="order.html"><img src="assets/images/g5.jpg" class="img-responsive" alt=""></a>
							<div class="float-lt feature-gd">	
									<h3><a href="order.html">菜园灌溉</a> </h3>
									<p> 供水方便，需自备提供水桶提壶，保证灌溉充足。 </p>
									</div>
					</div>
					<div class="float-top col-lg-4 col-md-6 mt-5">	
							<a href="order.html"><img src="assets/images/g6.jpg" class="img-responsive" alt=""></a>
							<div class="float-lt feature-gd">	
									<h3><a href="order.html">菜园除草</a> </h3>
									<p> 杂草稀疏工作量低，请手工除草，防止伤害到蔬菜。</p>
									</div>
						</div>
						<div class="float-top col-lg-4 col-md-6 mt-5">	
								<a href="order.html"><img src="assets/images/g7.jpg" class="img-responsive" alt=""></a>
								<div class="float-lt feature-gd">	
										<h3><a href="order.html">收获马铃薯</a> </h3>
										<p> 将租地中的马铃薯全部收获，起收时挖掘深度要合理，防止丢薯和破皮伤薯。</p>
									</div>
						</div>						 				 
		     	</div>  
		    </div>
          </div>
</section>
	<script src="assets/js/jquery-3.3.1.min.js"></script>
</section>

<script src="js/jquery-3.4.1.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="assets/js/all.js"></script>
<script src="assets/js/owl.carousel.js"></script>



</body>

</html>

